body{
	font-family:'font', Tahoma, Geneva, sans-serif;
	text-align:right;
	color:#ffffff;
	/*background:url(../FBimages/largebg.png) top center no-repeat;
	background-size:100% auto;*/
}
@font-face {
    font-family: 'font';
    src: url('../fonts/GESSTwoLight-Light.eot');
    src: url('../fonts/GESSTwoLight-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GESSTwoLight-Light.woff') format('woff'),
         url('../fonts/GESSTwoLight-Light.ttf') format('truetype'),
         url('../fonts/GESSTwoLight-Light.svg#ge_ss_twolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1{color:#bce2ff; font-size:32px}
h3{line-height:1.3}
h3 span{margin-top:8px; display:block}
.roche-logo{margin:-15px 2px 15px 0}
.brief p{padding-top:70px; font-size:x-large}
.cont{
	width:810px;
	background:#014276 url(../FBimages/bg.jpg) top center no-repeat;
	background-size:100% auto;
	direction:rtl;
	margin:0 auto;
	border-radius:13px;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
}
.bottom{
	border-top:#a1b9cc solid 2px;
	background:#014276 url(../FBimages/AccuChek-logo.png) bottom right no-repeat;
	padding-bottom:60px;
	min-height:280px;
	/*border-bottom:#fff solid 6px;*/
	border-radius:0 0 0 13px;
	-webkit-border-radius:0 0 0 13px;
	-moz-border-radius:0 0 0 13px;
}
.items{/*margin-left:5%; */border-radius:10px; background-color:#ffffff; min-height:403px}
#hand{margin-left:auto; margin-right:auto; display:block}
.margin-bottom{margin-bottom:40px}
.more-info{direction:rtl}
.more-info p{padding-top:20px; font-size:15px}

h2{font-size:28px; padding-top:24px}
.bottom.no-border{border:none !important}
.steps{padding:0; margin:0 20px; border-bottom:#33647d solid 2px; min-height:178px; clear:both} /*#68afd3*/
.steps img{border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; float:right}
.steps h2{padding-top:65px; padding-right:185px}
.registration-page h1, .steps-page h1{font-size:40px}
.registration-page .brief p, .steps-page .brief p{padding-top:14px}
.registration-page .bottom, .steps-page .bottom{min-height:150px}
.cont.registration-page, .cont.steps-page{width:100%; max-width:810px; background:#014276}

/***************** FORM ****************/
.register{
	width:70%;
	margin:auto;
	background-color:rgba(0,0,0,.7);
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px
}
.register form{padding:10px 30px; font-size:18px}
login .label{
    float:right;
    width:100%;
    font-weight:bold;
    font-size:14px;
    margin:5px 0;
}
input[type="text"], input[type="password"], input[type="select"] {
    color: black;
    border: 1px solid #ddd;
    font-size: 14px;
    height: 46px;
    Line-height: 46px;
    padding: 0;
    text-indent: 8px;
    width:74%;
    margin-top:6px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	outline:none;
}
.login input[type="text"], .login input[type="password"] {
    float:right;
    border:1px #ddd solid;
    height:22px;
    line-height:22px;
    padding:4px 2%;
}
.formRow{margin-bottom:0px; border-bottom:2px solid #2f4755; padding-bottom:6px}
.formRow span{
	width:26%;
	float:right;
	margin-top:15px;
	font-size:18px;
}
.formTerms label, .note{font-family:Tahoma, Geneva, sans-serif}
.formTerms{font-size:14px !important;}
.formTerms label{font-weight:normal !important; margin-right:4px; display:inline;}
.registration-page .brief p{padding-top:14px}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

a.btn-default, .btn-default, input[type=file].btn-default{
	cursor: pointer;
    transition: background-color .4s ease,color .4s ease,border-color .4s ease;
    background-color:#249dda;
    border:none;
	border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 20px;
    padding: 8px 24px;
	margin-top: 10px;
	text-align:center;
    margin-bottom:10px;
}
input[type=radio] {
    margin:20px 20px 10px 5px;
}
	input[type=radio]:nth-child(2) {
    	margin-right:40px;
	}
a.btn-default:hover, a.btn-default:focus, button.btn-default:hover, button.btn-default:focus, input.btn-default:hover, input.btn-default:focus, input.btn-default:hover:not(.disabled),
.btn-default:hover, .btn-default:focus, .btn-default:hover:not(.disabled){
	background-color:#249dda;
	color:#ffffff;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width:810px;
	padding:0 !important;
  }
}
@media (max-width: 639px) {
	.register{width:90%}
}